<header id="top-header" class="header">
  <a href="/" title="Return to home page">
    <img
      class="logo"
      src="cse-logo.png"
      alt="CSE Motors logo"
      width="395"
      height="47"
    />
  </a>

  <%- include('../partials/main-nav') %>
</header>
